.rowCustom {
  height: 100px;
}

div {
  background-color: rgb(111, 111, 231);
  color: white;
  border: 0.5px solid white;
}

article {
  border: 2px solid white;
}

.boxlarge {
  height: 150px;
}

.boxmedium {
  height: 100px;
}

