@font-face {
  src: url(../fonts/IntroDemo-BlackCAPS.otf) format("truetype"); 
  font-family: "Intro Demo Black CAPS";
  font-weight: 900;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.block-1__button {
  width: 115px;
  height: 38px;
  background-color: #5222D0;
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.block-2 {
  margin-left: 50px;
  background-image:url("../images/pic.png");
  background-repeat: no-repeat;
  background-position: top right;
  height: 35em;
}

.block-2__hd {
  color: black;
  font-family: 'Intro Demo Black CAPS', serif;
  font-size: 1.8em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0;
}

.block-2__par {
  font-family: 'Roboto Slab', serif;
  color: black;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  font-style: normal;
}

.block-2__button {
  width: 270px;
  height: 70px;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 35px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #5222D0;
  border: 1px solid #000000;
  border-radius: 100px;
}

.nav__item {
  display: inline-block;
  margin-left: 4em;
}
.nav__link {
  color: #5222D0;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  text-decoration: none;
}

.posibilities {
  margin-left: 50px;
}

.posibilities__hd{
  color: black;
  font-family: 'Intro Demo Black CAPS', serif;
  font-size: 1.3em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0;
}

.posibilities__cards {
  width: 80%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-items: center;
  align-items: center;
}

.posibilities__card {
  font-family: 'Roboto Slab', serif;
  color: black;
  font-size: 1em;
  font-weight: 300;
  text-align: left;
  font-style: normal;
}

.posibilities__card__title {
  color: black;
  font-family: 'Intro Demo Black CAPS', serif;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0;
}

.posibilities__card__img {
  margin-bottom: 20px;
}
